body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* NAV BAR */
.navbar {
  background-color: #000;
}

.navbar img {
  width: 6.5rem;
}

.dropdown-item {
  color: #505050;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
  transition: 150ms all;
  color: #000;
}

.btn-group {
  cursor: pointer;
}

/* HERO SECTION */

.main {
    background: /*linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),*/ url(./assets/home.jpg);
    background-size: cover;
    /* object-position: 55% 0; */
  
    background-position: 20% 65%;
    min-height: 85vh;
    width: 100%;
  }
  
  .main h1 {
    margin-top: 3.5rem;
    font-size: 5.5rem;
    font-weight: 700;
    color: #fff;
    width: 2rem;
  }


/* RICERCA */
#search{
    background-color: rgb(255, 255, 255);
    width: 850px;
    min-height: 80px;
    height: 80px;
    /* display: flex; */
    border-radius: 40px;
    padding-top: 10px;
}

/* CHECK IN E OUT */
.checkIns{
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}

.checkIn{
    margin-right: 30px;
    height: 80px;
    border-radius: 40px;
}

.checkIn input{
    color: rgb(165, 165, 165);
    border: none;
}

.checkIn label{
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: small;
}

/* LOCATION E GUESTS */
.location{
    margin-left: 20px;
    margin-top: 5px;
}

.location label{
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: small;
}

.location input{
    border: none;
    width: 90%;
}

.location input::placeholder{
    color: rgb(165, 165, 165);

}

.location input:focus{
    outline: none;
    border-bottom: 1px solid #ccc;
}

/* BOTTONE RICERCA */
.ricerca{
    width: 60px;
    height: 60px;
    background-color: rgb(207, 40, 40);
    border-radius: 30px;
    border:none;
    background-image: url(assets/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.ricerca:hover{
    background-color: rgb(199, 85, 85);
}

h1 {
    line-height: 100px;
    font-size: 120px;
    margin-top: 400px;
    text-shadow: 2px 2px 10px black;
    display:flex;
    flex-direction: column;
}

.ciao a{
    font-weight: 700;
    width: 200px;
    text-shadow: none;
    margin-top: 20px;
    margin-left: 10px;
}


/* img città */
img.city {
    max-width: 100px;
}


/* Stilizzo il footer */
footer{
    background-color: rgb(247, 247, 247);
    width: 100vw;
}

footer .m-auto{
    max-width: 1300px
}

.location{
    padding-left: 2rem;
}

footer .border-bottom, footer{
    border-color: rgb(221, 221, 221);
}

footer li{
    list-style: none;
}

footer li:hover{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}

footer li.fw-semibold:hover{
    text-decoration: none;
}

.footer-line2{
    display: flex;
}


@media screen and (max-width: 575px) {
    /* .ciao{
        margin-left: -35%;
    } */
    .footer-line2{
        flex-direction: column;
        padding-left: 2rem;
        align-items: start;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .footer-line2{
        flex-direction: column;
        padding-left: 2rem;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}

@media (max-width:840px){
    /* .ciao{
        margin-left: -300px;
    } */

    #search{
        flex-direction: column;
        align-items: center;
        height: 270px;
    }

    .location{
        border-bottom: 5px solid grey;
        width: 100%;
        margin-left:0px;
        display: flex;
        flex-direction: column;
    }

    .location input{
        margin-top: -20px;
        padding-left: 20px;
    }

    .location label{
        padding-left: 20px;
    }

    .checkIns{
        border-bottom: 2px solid grey;
        border-left: 5px solid grey;
        border-right: 5px solid grey;
        margin-top: 0px;
        border-radius: 0 0 20px 20px;
        padding-left: 10px;
    }

    .ricerca{
        width: 100%;
        border-radius: 0 0 20px 20px;
        margin-right: 0px;
    }

    #guests{
        padding-bottom: 10px;
    }
}

@media (min-width:841px){
    /* .ciao{
        margin-left: -500px;
    } */
}

@media screen and (min-width: 768px ) and (max-width: 1199px) {
    .footer-line2{
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}

@media (min-width:1100px){
    /* .ciao{
        margin-left: -700px;
    } */
}

@media screen and (min-width: 1200px) {
    .footer-line2{
        align-items: center;
        padding-left: 2rem;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}