/* Stilizzo la navbar */
img {
    width: 100%;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown:hover{
        box-shadow: var(--bs-box-shadow-lg);
}

/* Override line-height icoe bootstrap */
i[class^="bi-"]::before {
    line-height: 1.2;
}


/* Stilizzo il footer */
footer{
    background-color: rgb(247, 247, 247);
    width: 100vw;
}

footer .m-auto{
    max-width: 1300px
}

.location{
    padding-left: 2rem;
}

footer .border-bottom, footer{
    border-color: rgb(221, 221, 221);
}

footer li{
    list-style: none;
}

footer li:hover{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}

footer li.fw-semibold:hover{
    text-decoration: none;
}

.footer-line2{
    display: flex;
}


@media screen and (max-width: 575px) {
    .footer-line2{
        flex-direction: column;
        padding-left: 2rem;
        align-items: start;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .footer-line2{
        flex-direction: column;
        padding-left: 2rem;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px ) and (max-width: 1199px) {
    .footer-line2{
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .footer-line2{
        align-items: center;
        padding-left: 2rem;
    }
    .footer-line2-line1{
        margin-bottom: 1rem;
    }
}